:root {
    --font-family: "Rubik"
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-family), sans-serif

}

a {
    color: inherit;
}

header{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   background-color: white;
   padding: 0px 15px;
}

.navbar{
    display: flex;
    align-items: center;
}

.navbar-list {
    display: flex;
    gap: 1rem;
    padding-right: 50px;
}

.icon {
    max-width: 105px;
}

body {
    background-color: bisque;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px ;
    gap: 50px;
}

.hero-inf {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 1rem;
    width: 50%;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: row;
}

.hero-inf h1 {
    font-size: 45px;
}

.hero-inf p {
    font-size: 16px;
}


.btn {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn2 {
    background-color: black;
    color: crimson;
    padding: 10px 20px;
    border-radius: 8px;
    
}


.monitor {
    background-color: crimson;
    padding: 5px;
    border-radius: 10px;
}


.red {
    color: rgb(190, 22, 56);
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px ;
    gap: 50px;
}


#items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.item-cards-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    
}

.item-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    max-height: 250px;
    border-radius: 8px;
    background-color: white;
    padding: 2rem 1rem;
    margin: 8px;
    gap: 10px;
}

.monitor-card {
    max-width: 200px;
    max-height: 200px;
    background-color: rgb(190, 22, 56);
    padding: 5px;
    border-radius: 8px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px;
}

.contacto {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}


.iframe {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}